@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    font-family: Josefin Sans;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
}

.main-image {
    height: 100vh;
}

.logo-mobile {
    display: none;
}

.logo {
    margin-top: 40px;
    margin-bottom: 50px;
    width: fit-content;
}

.content-section {
    background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    width: 100%;
    margin: 10px 0 0 150px;
}

.content-section h1 {
    color: hsl(0, 6%, 24%);
    font-weight: 600;
    font-size: 350%;
    letter-spacing: 15px;
    line-height: 1.3;
    margin-bottom: 0;
}

.content-section p {
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    line-height: 2;
    width: 450px;
    margin: 10px;
}

.content-section h1 span {
    color: hsl(0, 36%, 68%);
    font-weight: 100;
}

.content-section form {
    display: flex;
    align-items: center;
}

.content-section form input {
    font-family: Josefin Sans;
    
    border: solid 2px hsla(0, 36%, 70%, 35%);
    border-radius: 30px;
    padding: 15px 200px 15px 20px;
    margin-right: 0;
}

.content-section form input:focus {
    outline-color: palevioletred;
}

.content-section form ::placeholder {
    color: hsla(0, 36%, 70%, 65%);
    font-family: Josefin Sans;
    font-size: larger;
}

.content-section .error-icon {
    visibility: hidden;
    margin-left: -100px;
    margin-right: 20px;
}

.content-section .send-btn {
    background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    border-radius: 50px;
    padding: 15px 40px 15px;
    margin-bottom: 0;

    transition: 0.2s;
}

.content-section .send-btn:hover {
    filter: brightness(110%);
    transform: scale(1.1);
}

.content-section .error-text {
    color: hsl(0, 93%, 68%);
    margin-left: 30px;
    margin-top: 10px;
}

@media only screen and (max-width:900px) {
    .main {
        flex-direction: column-reverse;
        text-align: center;
    }

    .main-image {
        content: url('images/hero-mobile.jpg');
        width: 100%;
        height: fit-content;
    }

    .logo-mobile {
        display: block;
        width: 30%;
        margin: 30px;
    }

    .logo {
        display: none;
    }

    .content-section {
        margin: 0 auto;
    }

    .content-section h1 {
        font-size: 10vw;
        line-height: 1.1;

    }

    .content-section p {
        font-size: 3.5vw;
        width: fit-content;
        margin: 10px auto;
        max-width: 75vw;
    }

    .content-section form {
        justify-content: center;
    }

    .content-section form input {
        padding: 12px 200px 12px 20px;
        width: 30vw;
    }

    .content-section .send-btn {
        padding: 12px 30px 12px;
    }
}